/* 
style.css 
Description: This file contains the styles for the website.
*/

/* Reglas de estilo aquí */
body {
    background-color: pink;
    font-family: Oswald;
}
#menu {
    font-weight: bold;
    text-align: center;
}
h1, h2 {
    color:mediumvioletred;
    text-align: center;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.tablas {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tbcuerpo {
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%; 
    padding-left: 1000px;
    text-align: center;
}

.tbtitulo {
  background-color: #f2f2f2;
  border: 1px solid black;
  text-align: center;
}

.tbdetalle {
    border: 1px solid black;
    background-color: aliceblue;
}

